body {
  font-family: Arial, Helvetica;
  margin: 0px 200px;
  

}

div.topnav {
  overflow: hidden;
  background-color: lightgrey;
  position: relative;
}

div.topnav #moreLinks {
  display: none;
  /* to hide by default */
  /* display: block to show by default */
}

div.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

div.topnav a:hover {
  color: black;
  background-color: whitesmoke;
  background-blend-mode: 75%;
}

div.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

div.content {
  padding: 25px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  /* red, green, blue: 0...255, alpha: 0...1*/
}

a {
  color: yellow;
}

table, th, td {
  border: 2px solid white;
}

th, td {
  padding: 5px;
  text-align: left; /* center */
}

table {
  border-collapse: collapse;
}