body {
  font-family: Arial, Helvetica;
  margin: 0px 100px;
  background-image: url("https://wallpapercave.com/wp/wp7667538.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


button {
  border: -40px;
  border-color: white;
  border-style: solid;
  padding: white;
  color: white;

}



img {
  border: 15px solid black;
  border-radius: 4px;
  padding: 20px;
  margin: -10px;
  border-radius: 10px;
  border-style: double;
  flaot
  }


div{
  text-align: center;
  font-family: monospace;
  color: white;
}