body {
        background-color: saddlebrown;
        color: white;
        margin: 25px 200px;
        font-family: Arial;
}

h1, h2 {
        color: yellow;
}

div.content {
        padding: 25px;
        color: white;
        background: rgba(70, 40, 0, 0.8);
}

a {
        color: skyblue;
}