body{
	background-color: indianred;
	color: darkred;
}
button {
	border: 10px;
	border-color: black;
	border-style: groove;
	padding: 10px;
	color: white;
}
div{
text-align: center;
font-family: sans-serif;
}